# Unity .gitignore file.
.DS_Store
*.pidb
Library/
obj/
Temp/
Build/
Debug/
xcodeProject/
Assets/UnityVS/
Assets/UnityVS.*
Assets/jz3d/
Assets/cjbj/
Assets/Resources/AnimationClips/
Assets/Resources/Model/
Assets/Resources/Sfx/
Assets/Resources/Weapon/
Assets/_Shared/MeleeWeaponTrail/

# Mono develop
*.csproj
*.sln
*.suo
*.userprefs
*.unityproj
*.DotSettings
*.csproj.user
*.apk

# Emacs
~#*
~$*


Assets/Plugin/NGUI/Scripts/MyUIEx.meta
Assets/Plugin/NGUI/Scripts/UIEffect.meta
Assets/Plugin/UnityVS.meta
Assets/Plugin/UnityVS/Editor.meta
Assets/Plugin/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
Assets/Plugin/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Assets/Plugin/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
Assets/Plugin/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Assets/Plugin/UnityVS/Editor/UnityVS.VersionSpecific.dll
Assets/Plugin/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta

Assets/StandaloneTable.asset
Assets/StandaloneTable.asset.meta

#忽略windows生成的缩略图文件
Thunbs.db
#忽略Visual Studio生成时的产生的文件
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
